ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
  display: flex;
  justify-content: space-evenly;
}

li a {
  display: block;
  padding: 8px;
  border-style: none;
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;
}
